	         .head{

            height: 120px;
            width: 900px;
            border:2px solid #42c8f5;
            margin: 0 auto;
			margin-top: 0px;
			border-radius: 0px;
			background-color: #42c8f5;
        }
        *{
         font-family: tahoma;   
        }
        
        .content{
            float:left;
            margin-left: 20px;
            margin:0 auto;
        }
        .input{
            width:100px;
            height:50px;
        }
        .in{
            height:30px;
            text-align: center;
        }
        button{
            float:right;
            margin-right:100px;
            width:200px;
            height:50px;
        }
        
        .item{
            height: 500px;
            margin:0 auto;
            width:1000px;
            border:1px solid lightgray;
            overflow: scroll;
        }
         .item2{
            height: 580px;
            margin:0 auto;
            width:1000px;
            border:1px solid lightgray;
            overflow: scroll;
        }
        .in1{
            height:30px;
            width:672px;
            text-align: center;
        }
         .in2{
            height:30px;
            width:100px;
            text-align: center;
        }
        .container2{
            margin: 0 auto;
                        border: 1px solid lightgray;
                        width:1000px;
                        height:auto;
        }
        .container{
			margin: 0 auto;
                        border: 1px solid lightgray;
                        width:1000px;
                        height:500px;
 		}
                .select,option{
                    height: 30px;
                    width:100px;
                }
		b{
			font-family: TAHOMA;
			font-color: #42c8f5;
		}
		select{height: 28px;width: 100px;}
		
		
		img{margin-left: 100px;height: 100px;margin:0 auto}
		 
		input{font-size: 16px;text-transform: uppercase}
		.inner-body{
			height: 50px;
            width: 900px;
            border:1px solid #42c8f5;
            margin: 0 auto;
			margin-top: 0px;
			border-radius: 2px;
			background-color: #42c8f5;

		}
		.footer-line{float: right}
		button{height: 35px;width:200px;margin-top: 5px;}
		.size1{width:120px;height:25px;}
		.size2{width:80px;height:25px;}
		.size3{width:140px;height:25px;}
		.footer{border:1px solid #42c8f5;height:20px;width:100%;background-color: #42c8f5;}
        h1,h2{font-family: tahoma}
		h3{margin-top:-20px;}
		.recordhead{height: 50px;
            width: 900px;
            border:2px solid #42c8f5;
            margin: 0 auto;
			margin-top: 0px;
			border-radius: 2px;
			background-color: #42c8f5;} 
			.box{border: px solid black;height:420px;width: 900px;margin: 0 auto;overflow: scroll}
			.box2{text-align: center;border: 1px solid black;width: 600px;height: 1px;overflow: scroll;}
			.hold{border: 1px solid black;background-color: red;text-align: center;color: white;height: 35px;width: auto;}
	 .namestyle{width:200px}